version: 1.0.0-{branch}-{build}
pull_requests:
  do_not_increment_build_number: true
image: Visual Studio 2017 

install:
  - dotnet tool install -g codecov.tool

init:
  - dotnet --version
  
build_script:
  - cmd: call cmd /C "cd .\build & build.cmd"  
  
test_script:
  - cmd: call cmd /C "cd .\build & test.coverage.cmd"
  
artifacts:
- path: '**\*.nupkg'

deploy:
- provider: NuGet
  api_key:
    secure: $env:NUGET_API_KEY
  skip_symbols: false
  artifact: /.*\.nupkg/
  on:
      branch: develop                # release from master branch only
      appveyor_repo_tag: true       # deploy on tag push only